
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #dbe2ef; color:black;}

.dropdown:hover .dropdown-content {display: block;}


header.masthead {
	background-image: none;
	background-color: white;
	height: 0vh;
	min-height: 22rem;

}

.social-icon {
	width:20px;
	height: 20px;
	margin-right: 8px;
}

.bg-primary {
	background-color: white !important;
}

.page-section {
	padding: 2rem 8rem 2rem 8rem;
}

#headshot {
	width: 200px;
	border-radius: 100px;
	margin-bottom: 30px;
}

#portfolio-img {
	width: 300px;
	margin-bottom: 40px;
}

#portfolio-img-lg {
	width: 100%;
	padding-bottom: 40px;
}

#logo {
	width: 100px;
	margin-top: 20px;
}

.btn-primary {
	background-color:#3f72af;
	color: white;
}
.btn-primary:hover {
	background-color:#3f72af!important;
	color: white;
}
.btn-primary:active {
	background-color:#3f72af!important;
	color: white;
}
/*.btn-secondary:active {
	border: red 2px solid;
	background-color:#F8FAB1;
	color: black;
}*/
.btn-secondary{
	background-color: white;
	color: black;
}

.btn-secondary:active{
	background-color:#dbe2ef!important;
	color: black;
}

.btn-secondary:focus{
	box-shadow: none!important;
}

.btn-secondary:hover {
	background-color:#dbe2ef;
	color: black;
}

h1, h2, h3, p {
	font-family: 'Poppins', serif;
}

h2 {
	font-size:30px;
	padding-bottom: 15px;
	font-weight: medium;
}

a {
	color: #112d4e;
}

a:hover {
	color: #3f72af;
}

h3 {
	font-size: 20px;
	font-weight: medium;
}

@media (min-width: 320px) and (max-width: 480px) {
  
	header.masthead	{
		padding-top: 0px;
		min-height: 17rem;
	}

	.page-section {
		padding:0rem 3rem 2rem 3rem;
	}

	.dropbtn {
		background:white;
	}
  
}

@media (min-width: 481px) and (max-width: 760px) {
  
  	header.masthead	{
		padding-top: 0px;
		min-height: 17rem;
	}

	.page-section {
		padding:0rem 3rem 2rem 3rem;
	}

	.dropbtn {
		background:white;
	}
  
}

/*@media (min-width: 768px) and (max-width: 1024px) {
  
  header.masthead	{
		padding-top: 0px;

	}

  
}*/
